.integrations-card {
    margin: 20px;
    padding: 20px;
    background-color: #e6ffff !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .integrations-card .MuiTypography-root {
    margin-bottom: 10px;
  }
  
  .integrations-card .MuiList-root {
    margin-top: 20px;
  }
  
  .integrations-card .MuiListItem-root {
    display: flex;
    align-items: center;
  }
  
  .integrations-card .MuiListItem-root .MuiSvgIcon-root {
    margin-right: 10px;
  }
  