.nav-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Make navbar fixed */
  top: 0;
  width: 100%;
  margin-left: -20px;
  z-index: 1000;
}

.nav-section {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.web-logo {
  height: 55px;
  margin-left: 10px;
}

.search-container {
  flex-grow: 1;
  margin-top: 10px;
  max-width: 300px;
  position: relative;
}

.search-input {
  transition: border-color 0.3s ease-in-out;
  background-color: #edf3f8;
  border: none;
  height: 35px;
  font-size: 15px;
  padding-right: 40px; /* Add padding to avoid overlap with the icon */
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  color: #999;
}

.icons-container {
  display: none;
}

.icons-containert {
  display: flex;
  margin-left: 3%;
  height: 40px;
  align-items: center;
}

.icon-with-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px 5px; /* Added padding for better click area */
}

.nav-icon {
  font-size: 20px;
  color: #555;
  transition: color 0.3s;
  margin-left: 20px;
  margin-right: 20px;
}

.icon-label {
  font-size: 10px;
  color: #555;
}

.nav-icon:hover,
.icon-label:hover {
  color: #000;
}

.get-premium {
  font-weight: bold;
  cursor: pointer;
  color: orange;
}

.icon-with-label.active {
  border-bottom: 2px solid black; /* Added border-bottom for underline effect */
}

.separator {
  height: 40px;
  width: 1px;
  background-color: #e4e4e4;
  margin-left: 16px;
  margin-right: 16px;
}

.content {
  padding-top: 70px; /* Add padding to prevent content overlap with fixed navbar */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-section {
    flex-direction: row;
    /* align-items: start; */
   
    justify-content: flex-start;
  }

  .web-logo {
    display: none;
  }

  .menu-logo {
    display: none;
  }

  .search-container {
    display: flex;
    justify-content: start;
    width: 100% !important;
    padding: 0 10px; /* Adjust padding to fit within the screen */
  }

  .search-input {
    width: 100% !important;
    border-radius: 20px;
    padding-left: 15px; /* Add some padding for better appearance */
  }

  .search-icon {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .icons-container {
    display: none;
  }

  .icons-containert {
    display: none;
  }

  .get-premium {
    display: none;
  }
}
